# Your server IP or localhost if you try local
SERVER_IP=your_ip

# Your external server port, you can leave it 8888
SERVER_PORT=8888

# EULA is an important setting for Minecraft. You must set it to true to agree, otherwise it won't start. Link to docs: https://aka.ms/MinecraftEULA
MC_EULA=false

# Maximum amount of RAM (in GB) the server is allowed to use (Java -Xmx). Increase for more players/mods, e.g. 4 for 4 GB.
MAX_RAM=2

# Initial amount of RAM (in GB) allocated at startup (Java -Xms). Usually set equal to MAX_RAM to avoid heap resizing.
START_RAM=2

# Following the Minecraft server properties: you can make custom settings, but I only use the most important ones. For more details, see: https://minecraft.wiki/w/Server.properties or README.md in this Project.

# Internal Minecraft server port inside the container, usually 25565
MINECRAFT_SERVER_PORT=25565

# Name of the world folder on the disk
LEVEL_NAME=world

# Difficulty options: peaceful, easy, normal, hard
DIFFICULTY=easy

# Gamemode options: survival, creative, adventure, spectator
GAMEMODE=survival

# Maximum number of players allowed online simultaneously
MAX_PLAYERS=20

# White-list options: true (only listed players), false (everyone)
WHITE_LIST=false

# View-distance options: number of chunks (e.g. 1-32)
VIEW_DISTANCE=10

# Message of the day displayed in the server browser list
MOTD=A Minecraft Server